<h1 class="title">マイページ</h1>
<%= link_to "ユーザー情報を編集する", edit_user_registration_path %>
<%= link_to "研究室(ゼミ)の口コミを投稿する", new_post_path %>
<h2>いいねした口コミ</h2>
  
  <% @posts.each do |post| %>
    <div id="post-<%= post.id %>" data-post-id="<%= post.id %>">
      <p><%= post.user.username %>さんによる</p>
      <p><%= post.university %><%= post.department %><%= post.major %><%= post.professor %>研究室(ゼミ)の口コミ</p>
      <p><%= post.detail.truncate(100) %>
      <%= link_to "詳しく見る", post %>
        <%= render "likes/like", post: post %>
      <p><%= post.created_at.strftime('%Y年%m月%d日') %>投稿</p>
    </div>
  <% end %>

<h2>自分が投稿した口コミ</h2>
<% if @post %>
  <%= @post.university %>
  <%= @post.department %>
  <%= @post.major %>
  <%= @post.professor %>
  <%= @post.detail %>
  <%= link_to "投稿を編集する", edit_post_path(@post) %>
  <%= link_to "投稿を削除する", @post, method: :delete, data: { confirm: "本当に削除しますか?" } %>
<% else%>
  <p>投稿した口コミはありません</p>
<% end %>

<div class="row">
  <div class="col-3 user-index">
    <h2 class="title">マイページ</h2>
    <ul class="nav nav-sidebar">
      <li>ユーザー情報編集</li>
      <li>口コミを投稿する</li>
      <li>いいねした口コミ</li>
    </ul>
  </div>

  <div class="col-9">
    <h2 class="title">自分が投稿した口コミ</h2>
  </div>

</div>

