<%= search_form_for @q, url: search_posts_path, class: "form-block my-2 my-lg-0" do |f| %>
  
  <div class="form-group">
    <%= f.search_field :university_cont, placeholder: "大学", class: "form-control mr-sm-2 mb-4" %>
  </div>

  <div class="form-group">
    <%= f.search_field :department_cont, placeholder: "学部", class: "form-control mr-sm-2 mb-4" %>
  </div>

  <div class="form-group">
    <%= f.search_field :major_cont, placeholder: "学科", class: "form-control mr-sm-2 mb-4" %>
  </div>

  <div class="form-group">
    <%= f.search_field :professor_cont, placeholder: "教授（名字のみでも可）", class: "form-control mr-sm-2 mb-4" %>
  </div>

  <%= f.submit "検索する", class: "btn btn-info my-2 my-sm-0" %>
<% end %>